.game-container {
  text-align: center;

  .game-controls-container {
    width: 360px;
    margin: auto;
    padding-bottom: 15px;
  }

  .game-board {
    display: inline-block;
    width: 400px;
    margin: auto;
  }
}